/* Reset css */
* {
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
  font-size: 62.5%;
  /* 10px = 1rem */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 0;
  color: #1D1D1D;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:focus,
a:active {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  opacity: 1;
}

b,
strong {
  font-weight: bold;
}

body {
  background-color: #E2EBF1;
}

/* Header */

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.header__cta {
  background: linear-gradient(#042656, #043B8A);
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  min-height: 6rem;
}

.header__cta--icon {
  display: none;
}

.header__container-logo {
  width: 100%;
  background-color: #043B8A;
  min-height: 6rem;
  display: flex;
  justify-content: center;
}

.header__img {
  width: 21.6rem;
  background-color: #043B8A;
  border-radius: 50%;
  margin-bottom: -3rem;
}

@media (min-width: 1024px) {
  .header {
    position: relative;
  }

  .header__cta {
    background-color: #043B8A;
    position: absolute;
    right: 2rem;
    top: 40%;
    width: fit-content;
    gap: 1.5rem;
  }

  .header__cta--icon {
    display: flex;
  }

  .header__container-logo {
    min-height: 8rem;
  }

  .header__img {
    width: 35.1rem;
    margin-bottom: -2rem;
  }
}

/* Hero section */
.hero {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 60rem;
  background-image: url(/assets/img-banner_camino_al_aeropuerto.jpg), linear-gradient(140deg, #1d1c1b 0%, #0e0e0eec 100%);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  gap: 2rem;
}

.hero__title,
.hero__title--strong {
  font-size: 3.5rem;
  line-height: 1.1em;
  letter-spacing: 4.2px;
  color: #FFFFFF;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.hero__title--strong {
  color: #CFE8FC;
}

.hero__text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.7em;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 2rem;
}

.hero__cta,
.pricing__card--footer-cta,
.payment-methods__cta {
  background-color: #042656;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.5rem;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  width: fit-content;
  border-radius: 0.6rem;
  transition: cubic-bezier();
}

@media (min-width: 1024px) {
  .hero {
    min-height: 90rem;
  }

  .hero__title,
  .hero__title--strong {
    font-size: 6.4rem;
    max-width: 80rem;
    line-height: 5.6rem;
    letter-spacing: 4.8px;
  }

  .hero__text {
    font-size: 2.5rem;
    line-height: 3.1rem;
    letter-spacing: 0.3px;
    max-width: 79rem;
  }

  .hero__cta,
  .pricing__card--footer-cta,
  .payment-methods__cta {
    font-size: 2.1rem;
    font-family: "Fira Sans", Sans-serif;
  }

  .hero__cta:hover,
  .pricing__card--footer-cta:hover,
  .payment-methods__cta:hover {
    background-color: #082c5f;
  }
}

/* Pricing section */

.pricing {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pricing__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.pricing__title {
  color: #043C8C;
  letter-spacing: 1.8px;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  background-image: url(/assets//img-bg_values.png);
  background-repeat: no-repeat;
}

.pricing__cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 0 1rem;
}

.pricing__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 30rem;
  max-width: 50rem;
  padding: 1rem;
}

.pricing__card--img {
  display: flex;
  position: relative;
  bottom: -3.7rem;
}

.pricing__card--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #203A8B;
  color: #FFFFFF;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2.5rem;
  text-transform: uppercase;
  width: 100%;
  padding: 5rem 1rem 1rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  flex-grow: 2;
  max-height: 15rem;
}

.pricing__card--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 100%;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  flex-grow: 1;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 1rem;
}

.pricing__card--footer-description {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.pricing__card--footer-price {
  font-weight: 600;
  font-size: 3.5rem;
  text-align: center;
  line-height: 2.4rem;
}

.pricing__card--footer-cta {
  font-size: 1.6rem;
  line-height: 27px;
  letter-spacing: 1.4px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-family: "Fira Sans", sans-serif;
}

@media (min-width: 1024px) {
  .pricing__title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2.8px;
    padding: 4rem 8rem 0;
  }

  .pricing__cards-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .pricing__card {
    align-self: flex-start;
    min-height: 52rem;
  }

  .pricing__card--footer {
    gap: 2.6rem;
  }

  .pricing__card--footer-description {
    font-size: 2rem;
  }

  .pricing__card--footer-price {
    font-size: 4rem;
  }
}

/* Payment methods section */

.payment-methods {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  background: url(/assets/payment-methods-bg.png), linear-gradient(140deg, #F5D06B 0%, #0E0E0EB8 100%);
  background-repeat: none;
}

.payment-methods__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  gap: 2rem;
  padding: 4rem 1rem;
}

.payment-methods__block-one {
  border-width: 0 0 0.3rem 0;
  border-color: #FFFFFF;
  border-style: solid;
  padding-bottom: 2rem;
}

.payment-methods__block-one,
.payment-methods__block-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 3rem;
}

.payment-methods__title,
.payment-methods__subtitle {
  font-size: 3.5rem;
  line-height: 1.2em;
  word-spacing: 0em;
  color: #FFFFFF;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.payment-methods__cta {
  background-color: #0067B1;
  font-size: 2.6rem;
  line-height: 2.7rem;
  letter-spacing: 1.4px;
  padding: 2rem 4rem;
}

.payment-methods__img {
  display: flex;
  width: 100%;
}

@media (min-width: 1024px) {
  .payment-methods__container {
    flex-direction: row;
  }

  .payment-methods__block-one {
    border-width: 0 0.3rem 0 0;
    padding: 4rem 2rem 4rem 0;
  }

  .payment-methods__cta:hover {
    background-color: #03548d;
  }
}

/* Navy */
.navy {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.navy__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  gap: 4rem;
  padding: 3rem 1rem 4rem 1rem;
}

.navy__title {
  font-size: 3.5rem;
  line-height: 1em;
  letter-spacing: 2.4px;
  color: #043c8c;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-image: url(/assets//img-bg_navy.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-top: 1.8rem;
}

.slider-nav {
  visibility: visible;
  opacity: 1;
  filter: none;
}

.slider-nav::after {
  display: none;
}

.navy__content {
  display: none;
}

@media (min-width: 1024px) {
  .navy__title {
    font-size: 5rem;
    letter-spacing: 2.8px;
    padding: 2rem 8rem;
  }

  .swiffy-slider {
    display: none;
  }

  .navy__content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 100%;
  }

  .navy__content li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    max-width: 30rem;
  }
}

/* Values */

.values {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #D0EAFF;
  background-color: linear-gradient(180deg, #9D9D9D6B 0%, #FFFFFF00 5%);
}

.values__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  gap: 4rem;
  padding: 4rem 1rem;
}

.values__title {
  font-size: 3.5rem;
  line-height: 1.3;
  letter-spacing: 2px;
  color: #043c8c;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-image: url(/assets//img-bg_values.png);
  background-repeat: no-repeat;
  padding-top: 1.8rem;
}

.values__carousel--icon {
  height: 8.2rem;
  width: 8.2rem;
}

.values__carousel--text {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  color: #4E4E4E;
  text-align: center;
  font-weight: 700;
}

.slider-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
}

.arrow-left {
  left: 10%;
}

.slider-nav.slider-nav-next.arrow-right {
  right: 10%;
}

.values__content {
  display: none;
}

@media (min-width: 1024px) {
  .values__title {
    font-size: 5rem;
    letter-spacing: 2.8px;
    padding: 2rem 8rem;
  }

  .values__content {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
  }

  .values__content li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
}

/* Wpp button */

.wpp-button__container {
  position: fixed;
  bottom: 4rem;
  right: 1.5rem;
  z-index: 2;
  display: flex;
  gap: 1.2rem;
}

.wpp-button__message {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: auto;
  background-color: #EFEFEF;
  border-radius: 0.8rem;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1.5px solid #020202;
}

.wpp-button__message:hover {
  background-color: #E2EBF1;
}

.wpp-button__cta {
  background-color: #4DC247;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  box-sizing: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition: cubic-bezier();
}

.wpp-button__cta:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}

@media (min-width: 1024px) {
  .wpp-button__message {
    padding: 2rem 4rem;
    font-size: 2.4rem;
    border-width: 2px;
  }
  .wpp-button__cta {
    height: 8rem;
    width: 8rem;
  }

  .wpp-button__icon {
    height: 4rem;
    width: 4rem;
  }
}

/* Footer */

.footer {
  border-style: solid;
  border-width: 0 0 4rem 0;
  border-color: #203A8B;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 144rem;
  padding: 4rem 0;
}

.footer__main-block {
  padding-bottom: 3rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__title {
  font-size: 3.5rem;
  line-height: 1;
  letter-spacing: 2.2px;
  color: #043C8C;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.footer__divider {
  height: 0.5rem;
  background-color: #043C8C;
  width: 5rem;
  margin-bottom: 3rem;
  border: none;
}

.footer__block {
  color: #043C8C;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.footer__block--cta--phone {
  color: #043C8C;
  font-size: 2rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer__main-block {
    gap: 4rem;
  }

  .footer__title {
    font-size: 5rem;
    letter-spacing: 2.6px;
  }

  .footer__divider {
    display: none;
  }

  .footer__block {
    background-color: #EFEFEF;
    padding: 4rem;
    max-width: 39rem;
    box-shadow: 15px 15px 0px 0px #C2E2FB;
    gap: 2rem;
  }

  .footer__block svg {
    height: 3.5rem;
    width: 3.5rem;
  }

  .footer__block--cta--phone {
    font-size: 3rem;
  }
}
